<!DOCTYPE html>
<html lang="en">
    <%- include("./templates/head.ejs") %>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

    <%- include("./templates/navbar.ejs") %>
    <div class="content">
        <h2 class="content-title" style="font-size: 40px;">About Us</h2>
        <blockquote>
            TP's Blog store is a blogging website where you can post all your favourite blogs and share it with your friends! 
            <span>Enjoy Blogging!!</span>
        </blockquote>
    </div>
    <%- include("./templates/footer.ejs") %> 
</body>
</html>