<!DOCTYPE html>
<html lang="en">
    <%- include("./templates/head.ejs") %>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <%- include("./templates/navbar.ejs") %>

    <div class="create-content create-post">
        <div class="form-wrapper">
            <h2 class="content-title">CREATE A POST</h2>
            <form action="/blogs" method="POST" class="post-form">
                <label for="user-name">Name: </label>
                <br>
                <input type="text" id="user-name" name="name" required>
                <br><br>
                <label for="title">Blog Title: </label>
                <br>
                <input type="text" id="title" name="title" required>
                <br><br>
                <label for="description">Blog Description: </label><br>
                <textarea type="text" cols="50" rows="6" id="description" name="description" required></textarea>
                <br><br>
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>    
    <%- include("./templates/footer.ejs") %> 
</body>
</html>