<!DOCTYPE html>
<html lang="en">
        <%- include("./templates/head.ejs") %>
        <link rel="stylesheet" href="/about.css">
    </head>
<body>
    <header>
        <nav>
            <h2><a href="/">Blogify</a></h2>
            <div class="auth_options">
                <span class="login_link"><a href="/auth/login">Login</a></span>
                <span style="font-weight: bolder;"> | </span>
                <span class="signup_link"><a href="/auth/signup">SignUp</a></span>
            </div>
        </nav>
    </header>  
    <div class="content">
        <h2 class="content-title" style="font-size: 40px;">About Us</h2>
        <blockquote>
            Blogify is a blogging website where you can post all your favourite blogs and share it with your friends! 
            <span>Enjoy Blogging!!</span>
        </blockquote>
    </div>
</body>
</html>