<nav>
    <a href="/"><h2 class="nav-title">TP'S BLOG STORE</h2></a>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">Create Post</a></li>
    </ul>
</nav>