@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic);
body{
    margin: 0;
    padding: 0;
    background-color: #dff9fb;
}

.create-content{
    min-height: 70vh;
}

/* About Page */
.content{
    min-height: 70vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    margin: 70px;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}


blockquote{
  font-size: 1.4em;
  width:60%;
  margin:50px auto;
  font-family:Open Sans;
  font-style:italic;
  color: #555555;
  padding:1.2em 30px 1.2em 75px;
  border-left:8px solid #4934d4da ;
  line-height:1.6;
  position: relative;
  background:#EDEDED;
}


blockquote span{
  display:block;
  color:#333333;
  font-style: normal;
  font-weight: bold;
  margin-top:1em;
}


/* Navigation Bar */
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin: 10px;
    
}

nav ul{
    display: flex;
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    align-items: flex-end;
    list-style: none;
    margin-bottom: 20px;
}

nav h2{
    margin-left: 10px;
    margin-bottom: 20px;
    color: #4934d4da;
    font-size: 30px;
    font-family:Impact, 'Haettenschweiler', 'Arial Narrow Bold', sans-serif;
    letter-spacing: 2px;    
}

nav li{
    padding: 10px;
    padding-bottom: 0px;
    font-size: 18px;
    text-transform: uppercase;
}

nav a{
    text-decoration: none;
    color: #999;
}

nav a:hover{
    color: #ED4C67;
}

.content-title{
    margin: 20px;
    color: #b71540e1;
    font-size: 30px;
    font-family:Impact, "Haettenschweiler", 'Arial Narrow Bold', sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
}


/* HomePage */
.all-blogs{
    margin: 20px;
}

.single-blog{
    margin-left: 20px;
}

.blog-detail{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
    position: relative;
}

.blog-detail h3{
    color: #40407a;
}

/* .blog-detail::after{
    content: "";
    position:absolute;
    margin-top: 5px;
    width: 100%;
    height: 1.5px;
    bottom:0;
    background: #999;
} */

.view-btn{
    border:1px solid #333;
    border-radius: 2px;
    padding: 3px;
    width: 38px;
    text-decoration: none;
    background-color: #f5f6fa;
    color:#333
}


/* Blog: Single Blog */
.blog-container{
    display: inline-block;
    padding: 8px;
    padding-bottom: 13px;
    margin: 0px 20px 20px 0px;
    border-radius: 2px;
    width: 300px;
    background-color: #4a69bd;
    color: rgba(255, 255, 255, 0.911);
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    letter-spacing: 1px;
    text-align: justify;
}

.user-name{
    font-size: 18px;
    color: #f5f6fa;
}

.blog-title{
    font-size: 22px;
    color: #12cbc5dc;
    margin-bottom: 5px;
}

.blog-description{
    margin: 5px 0px 12px;
}

.delete-btn{
    border:1px solid #333;
    border-radius: 2px;
    color:#333;
    text-decoration: none;
    background-color: #f5f6fa;
    padding: 3px;
    cursor: pointer;
}

/*Forms */
.create-post,.login,.signup{
    display: flex;
    justify-content: center;
}

.post-form,.login-form,.signup-form{
    background-color: #f1f1f1da;  
    padding: 10px;
    width: 430px;  
    border-radius: 10px;
    height: 350px;
    border: 1px solid #ccc;
} 

label{
    color: #555;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
}

input[type=text],[type=email],[type=password]{
    margin-top: 5px;
    padding-left: 8px;
    height: 24px;
    width: 300px;
    border:1px solid #ccc;
    border-radius: 5px;
}

input[type=password]{
    width: 275px;
}

textarea{
    margin-top: 5px;
    padding: 8px;
    width: 400px;
    border:1px solid #ccc;
    border-radius: 5px;
}

button{
    padding: 5px;
    height: 30px;
    width: 85px;
    border-radius: 3px;
    border:1px solid #ccc;
    border-radius: 5px;
    font-size: 15px;
    color: #f1f1f1;
    background-color: #24a0ed;
    cursor: pointer;
}

footer{
    text-align: center;
    color: #777;
}